
/***************Header**************/

header {
  background-color: #A7DBD8;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 5px;
  /*display: flex;*/


}

h3 {
  margin: 0;
  padding: 1em;
}

#alert-bell {
  padding-bottom: 2%;
  display: block;
  margin: 1em auto;
}

#avatar {
  border-radius: 50%;
  border: 3px solid #F38630;
  display: block;
  margin: 1em  auto;
}

#avatar-name {
  font-size: .5em;
  letter-spacing: 4px;
  display: inline-block;
  margin-bottom: 2em; 
}

/************Body******************/

body {
  background-color: #E0E4CC;
}

/**************Navigation********/

/*.main-nav {
  display: inline;
}*/

.main-nav ul {
  list-style: none;
  padding: 0 0 1em 0;
  text-align: center;
  border-bottom: 1px solid #F38630;
}

ul li {
  display: inline-block;
  width: 5%;
  padding: 1em;
  margin: .12em;
  border: 1px solid #F38630;
  border-radius: 50%;
}

ul li.selected {
  background-color: #A7DBD8;
}

ul li:hover {
  background-color: #69D2E7;
}

ul li:active {
  background-color: #F38630;

}
