$tablet-breakpoint: 768px;
$desktop-breakpoint: 1024px;
$mobile-max-breakpoint: 767px;

// $white: white;
// $black: black;
// $hover-color: rgba(217,206,178,.2);
// $contact-background: rgba(238,235,222,.2);
// $text-color: rgb(217,206,178);
// $font-sans: 'Muli', sans-serif;
// $font-serif: 'Poiret One', cursive;
