/********************************************VARIABLES*******************************************/ 

$tablet-breakpoint: 768px;
$desktop-breakpoint: 1024px;

$bright-blue: rgb(105,210,231);
$light-blue: rgb(167,219,216);
$light-blue-transparent: rgba(167,219,216, .5);
$tan: rgb(224,228,204);
$light-orange: rgb(243,134,48);
$light-orange-transparent: rgba(243,134,48,.5);
$bright-orange: rgb(250,105,0);
$font-Rale: 'Raleway', sans-serif;
