
/***************Header**************/



header {
  background-color: #A7DBD8;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 5px;

  z-index: 0;

      @media (min-width: 768px){
      display: flex;

      margin-left: auto;
      margin-bottom: 4em;

      }

      @media (min-width: 1024px) {

      }

}

#header-space {
  flex-grow: 6;
}

#tm {
  font-weight: 100;
}

h3.primary-header {
  margin: 0;
  padding: 1em;

    @media (min-width: $tablet-breakpoint) {
      padding-top: 1.3em;
    }

    @media (min-width: $desktop-breakpoint) {
      padding-top: 1.5em;
    }
}

#avatar-name {
      font-size: .5em;
      letter-spacing: 4px;
      display: block;
      margin-bottom: 2em;
      padding-bottom: 1em;

          @media (min-width: 768px) {
            margin-bottom: 0;
            padding-top: 3em;
            padding-left: 1em;
            padding-right: 1em;
          }

          @media (min-width: 1024px) {
            padding-top: 4em;
          }
}


      input[type=text] {
          width: 130px;
          -webkit-transition: width 0.4s ease-in-out;
          transition: width 0.4s ease-in-out;
          text-align: center;
          background-color: rgba(167,219,216,.5);
          margin: 1em 0;
          font-family: 'Raleway', sans-serif;
          letter-spacing: 3px;
          border-style: none;
          font-size: 1.1em;
          // display: inline-block;

          @media (min-width: $tablet-breakpoint) {
                font-size: 1.2em;
                float: right;
                margin-top:  -1em;
                text-align: left;
                }
            }

            /* When the input field gets focus, change its width to 100% */
            input[type=text]:focus {
                width: 40%;
                outline: none;
            }

      h3.secondary-header {

          @media (min-width: $tablet-breakpoint) {
            display: inline-block;
            float: left;
            margin-top: -1em;
          }


      }
