
/***************Header**************/



header {
  background-color: $light-blue;
  text-align: center;
  font-family: $font-Rale;
  letter-spacing: 5px;

  z-index: 0;

      @media (min-width: $tablet-breakpoint){
      display: flex;

      margin-left: auto;
      margin-bottom: 1em;

      }

      @media (min-width: $desktop-breakpoint) {

      }

}

#header-space {
  flex-grow: 6;
}

#tm {
  font-weight: 100;
}

h3.primary-header {
  margin: 0;
  padding: 1em;

    @media (min-width: $tablet-breakpoint) {
      padding-top: 1.3em;
    }

    @media (min-width: $desktop-breakpoint) {
      padding-top: 1.5em;
    }
}

#avatar-name {
      font-size: .5em;
      letter-spacing: 4px;
      display: block;
      margin-bottom: 2em;
      padding-bottom: 1em;

          @media (min-width: $tablet-breakpoint) {
            margin-bottom: 0;
            padding-top: 3em;
            padding-left: 1em;
            padding-right: 1em;
          }

          @media (min-width: $desktop-breakpoint) {
            padding-top: 4em;
          }
}


      input[type=text] {
          width: 130px;
          -webkit-transition: width 0.4s ease-in-out;
          transition: width 0.4s ease-in-out;
          text-align: center;
          background-color: $light-blue-transparent;
          margin: 1em 0;
          font-family: $font-Rale;
          letter-spacing: 3px;
          border-style: none;
          font-size: 1.1em;
          // display: inline-block;

          @media (min-width: $tablet-breakpoint) {
                font-size: 1.2em;
                float: right;
                margin-top:  -1em;
                text-align: left;
                }
            }

            /* When the input field gets focus, change its width to 100% */
            input[type=text]:focus {
                width: 40%;
                outline: none;
            }

      h3.secondary-header {

        display: none;
        float: left;

          @media (min-width: $tablet-breakpoint) {
            display: inline-block;
            float: left;
            margin-top: -1em;
          }
      }


  //*****************************************ALERT*******************************************


  span.alert  p {
      width: 80%;
      margin: auto;
      background-color: $light-orange-transparent;
      color: grey;
      border-radius: 3px;
      padding: .5em;
      letter-spacing: 1px;
      border: 2px solid $bright-orange;

      @media (min-width: $tablet-breakpoint) {
          width: 90%;
          margin-bottom: 3em;
      }
  }

  span#close {
    background-color: $bright-orange;
    border-color: $tan;
    color: $tan;
    border-radius: 5px;
    padding: .52em;
    margin: .75em;
    font-size: .75em;
  }

  span#close:hover {
    background-color: $light-blue;
    transition: .5s;
    cursor: pointer;
    color: grey;
  }
