


/**************Navigation********/

/*.main-nav {
  display: inline;
}*/

.main-nav ul {
  list-style: none;
  padding: 0 0 1em 0;
  text-align: center;
  border-bottom: 1px solid #F38630;
}

ul li {
  display: inline-block;
  width: 5%;
  padding: 1em;
  margin: .12em;
  border: 1px solid #F38630;
  border-radius: 50%;
}

ul li.selected {
  background-color: #A7DBD8;
}

ul li:hover {
  background-color: #69D2E7;
}

ul li:active {
  background-color: #F38630;

}
