
/****************SVGs / IMAGES******************/ 


#alert-bell {
  padding-bottom: 2%;
  display: block;
  margin: 1em auto;
}

#avatar {
  border-radius: 50%;
  border: 3px solid #F38630;
  display: block;
  margin: 1em  auto;
}

#avatar-name {
  font-size: .5em;
  letter-spacing: 4px;
  display: inline-block;
  margin-bottom: 2em;
}
