
/****************SVGs / IMAGES******************/


#alert-bell {
  padding-bottom: 2%;
  display: block;
  margin: 1em auto;
}

#avatar {
  border-radius: 50%;
  border: 3px solid #F38630;
  display: block;
  margin: 1em  auto;
  width: 12%;

  @media (min-width: $tablet-breakpoint){
            width: 4%;
            margin-left: auto;

        }

    @media (min-width: $desktop-breakpoint){
          // width: 50%;

        }
}

img.social-icon  {
    width: 10%;
    
  @media (min-width: $tablet-breakpoint){

  }
}
