/************Body******************/

body {
  background-color: $tan;
  margin: 0;
  font-family: $font-Rale;
}

main.main-content {
        text-align: center;
        @media (min-width: $tablet-breakpoint) {
            margin-left: 10%;
          }
  }



/***************Line-chart************/

section.entire-line-chart-wrapper {
  margin-top: 3em;
      @media (min-width: $tablet-breakpoint){

          }
}

 div.daily-line-chart-wrapper {
    @media (min-width: $tablet-breakpoint){
                height: 20%;
              }
}


/***************Bar-doughtnut -wrapper************/

  section.bar-doughnut-wrapper{
      width: 100%;
        @media(min-width: $tablet-breakpoint) {

        }
  }

    /***************Bar-chart************/


    div.bar-chart-wrapper {
      margin-top: 2em;
      text-align: center;
       @media (min-width: $tablet-breakpoint){
                   width: 50%;
                   border-top: 1px solid $bright-blue;
                   border-right: 1px solid $bright-blue;
                   border-bottom: 1px solid $bright-blue;
                   float: left;
                   margin-right: -2em;
                   margin-top: 4em;

             }
     }


     /***************Doughnut -  chart************/


         div.doughnut-chart-wrapper {
           margin-top: 2em;
           text-align: center;
            @media (min-width: $tablet-breakpoint){
                        width: 50%;
                        float: right;
                        margin-top: 4em;
                        border-top: 1px solid $bright-blue;
                        border-bottom: 1px solid $bright-blue;
                        padding-right: .92em;
                  }
          }
      
