/************Body******************/

body {
  background-color: #E0E4CC;
}


/***************Line-chart************/

 .line-chart-wrapper{



    @media (min-width: $tablet-breakpoint){
              width: 50%;
              display: flex;
              justify-content: center;
          }

      @media (min-width: $desktop-breakpoint){
            // width: 50%;

          }

  }
