/****************************************BODY*****************************************************/

body {
    background-color: $tan;
    margin: 0;
    font-family: $font-Rale;
}
main.main-content {
    text-align: center;
    @media (min-width: $tablet-breakpoint) {
        margin-left: 10%;
    }
}

/****************************************LINE-CHART**********************************************/

section.entire-line-chart-wrapper {
    margin-top: 3em;
    @media (min-width: $tablet-breakpoint) {}
}
div.daily-line-chart-wrapper {
    @media (min-width: $tablet-breakpoint) {
        height: 20%;
    }
}

/********************************BAR-DOUGHTNUT-WRAPPER*********************************/

section.bar-doughnut-wrapper {
    width: 100%;
    @media(min-width: $tablet-breakpoint) {}
}

/****************************************BAR-CHART**********************************************/

div.bar-chart-wrapper {
    margin-top: 2em;
    text-align: center;
    @media (min-width: $tablet-breakpoint) {
        width: 50%;
        border-top: 1px solid $bright-blue;
        border-right: 1px solid $bright-blue;
        border-bottom: 1px solid $bright-blue;
        float: left;
        margin-right: -2em;
        margin-top: 4em;
    }
}

/*************************************DOUGHNUT-CHART****************************************/

div.doughnut-chart-wrapper {
    margin-top: 2em;
    text-align: center;
    @media (min-width: $tablet-breakpoint) {
        width: 50%;
        float: right;
        margin-top: 4em;
        border-top: 1px solid $bright-blue;
        border-bottom: 1px solid $bright-blue;
        padding-right: .92em;
    }
}

/*********************************SOCIAL ICON SECTION***************************************/

.social-stats {
    @media (min-width: $tablet-breakpoint) {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        clear: both;
    }
}
div.twitter-icon, div.facebook-icon, div.google-plus-icon {
    border: 1px solid $bright-blue;
    width: 80%;
    margin: auto;
    margin-top: 1em;
    border-radius: 5px;
    @media (min-width: $tablet-breakpoint) {
        // width: 25%;
        // display: inline-block;
        margin-right: 1em;
        margin-left: 1em;
    }
}

/************************ NEW MEMBERS/RECENT ACTIVITY SECTION********************/

.new-members-wrapper {
    @media (min-width: $tablet-breakpoint) {
        float: left;
        width: 50%;
    }
}
.recent-activity-wrapper {
    @media (min-width: $tablet-breakpoint) {
        float: right;
        width: 50%;
    }
}
.new-members-wrapper ul, .recent-activity-wrapper ul {
    list-style: none;
    padding-left: 0;
    @media (min-width: $tablet-breakpoint) {
        font-size: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-right: 1px solid $bright-blue;
        li:hover {
          background-color: $light-orange-transparent;
          transition: .1s ease-in-out;
        }
    }
}
.new-members-wrapper li, .recent-activity-wrapper li {
    border-bottom: 1px solid $bright-blue;
    border-radius: 5px;
    margin: 1em;

    @media (min-width: $tablet-breakpoint) {
        display: flex;
        justify-content: space-between;
        height: 60px;
    }
}
.new-members-wrapper ul li p.new-member-name {
      .email {
          text-decoration: none;
          line-height: 2em;
      }
      @media (min-width: $tablet-breakpoint) {
          margin-left: -8em;
          font-size: 1.25em;
              .email {
                  font-size: .75em;
              }
              .email:hover {
                  cursor: pointer;
                  background-color: $light-blue-transparent;
                  transition: .5s ease-in-out;
                  color: black;
                  border: 1px solid $light-orange;
                  padding: .25em;
                  border-radius: 5px;
              }
      }
      @media (min-width: $desktop-breakpoint) {
        margin-left: -15em;
      }
      @media (min-width: 1200px) {
        margin-left: -25em;
      }
  }


  .recent-activity-wrapper h6 {
      margin-bottom: 0;
      @media (min-width: $tablet-breakpoint) {
      margin-top: 1em;
    }
  }

.recent-activity-details {
  @media (min-width: $tablet-breakpoint) {
    font-size: 1em;
    width: 1000px;
  }
}

/************************** MESSAGE USER / SETTINGS SECTION**************************/
#message-settings-wrapper {
  @media (min-width: $tablet-breakpoint) {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      flex-wrap: nowrap;
      height: 500px;
      width: 90%;
      }
}

.message-user-wrapper {
  @media (min-width: $tablet-breakpoint){
      height: 350px;
      text-align: left;
      clear: both;
  }
}

.settings-wrapper {
  @media (min-width: $tablet-breakpoint) {
      height: 350px;
      text-align: left;
      clear: both;
  }
}

.message-user-wrapper input[type=text], textarea{
      margin: 1em;
      background-color: $light-blue-transparent;
      margin: 1em 0;
      font-family: $font-Rale;
      letter-spacing: 3px;
      border-style: none;
      font-size: 1.1em;
      width: 90%;
      border-radius: 5px;
      @media (min-width: $tablet-breakpoint) {
          font-size: 1.2em;
      }
}

.message-user-wrapper input[type=text]:focus {
  width: 90%;
}

textarea {
  margin: auto;
  text-align: left;
  outline: none;
}

.send-button {
  width: 90%;
  background-color: $light-orange-transparent;
  color: grey;
  border-style: none;
  height: 3em;
  transition: .5s ease;
  font-weight: 200;
  letter-spacing: 3px;
  font-family: $font-Rale;
  margin: 3.5em 0 2em;
  outline: none;
  border-radius: 5px;
  @media (min-width: $desktop-breakpoint) {
    margin-top: 1.5em;
  }
}

.send-button:hover {
  background-color: $bright-orange;
  transform: scale(1.1);
  cursor: pointer;
  color: white
}


.select-menu {
  background-color: $light-blue-transparent;
  margin: 6em 0 2em;
  padding: 1em;
  text-align: center;
  font-family: $font-Rale;
  letter-spacing: 1px;
  border-style: none;
  @media (min-width: $tablet-breakpoint) {
    margin-top: 3em;
  }
}

.save-cancel-button {
  padding: 1em 3em;
  margin: 0 1em;
  color: grey;
  background-color: $light-orange-transparent;
  border-style: none;
  letter-spacing: 2px;
  transition: .5s;
  font-family: $font-Rale;
  font-weight: 200;
  border-radius: 5px;
}

.save-cancel-button:hover {
  transform: scale(1.2);
  background-color: $bright-orange;
  color: white;
}

.save-cancel-button:focus {
  outline:none;
}
